[2018-03-04 17:10] humblec opened #71 "Gluster 3.11 image build error."
Gluster 3.11 container images are failing to build
[code]

[2018-03-04 17:10] humblec commented on #71
/assign @nixpanic

[2018-03-04 17:12] humblec opened #72 "Add "official" repo image/tag for gluster container in docker hub."

[2018-03-12 09:35] humblec commented on #71
/assign @madhu_1

[2018-03-12 09:37] humblec opened #73 "Make Gluster4 container images."
https://buildlogs.centos.org/centos/7/storage/x86_64/gluster-4.0/
https://cbs.centos.org/koji/taskinfo?taskID=351499

[2018-03-12 12:22] humblec commented on #71
Thanks @madhu_1 for looking into this!!, as gluster any more support `3.11`, this can be ignored, I have moved `3.11` branch  and no longer maintaining it . Thanks again!

[2018-03-12 12:23] #71 closed

[2018-03-12 12:23] humblec commented on #73
Thanks @madhu_1 for looking into this!

[2018-03-12 14:46] nixpanic opened #75 "Gluster pods should be able to load certain lvm/device-mapper modules"
There is no guarantee that the `dm_thin_pool`, `dm_mirror` and `dm_snapshot` kernel modules are loaded. Creating volumes with Heketi enabled thin-provisioning for the bricks. This will fail if the device-mapper/lvm modules are not available.

It seems most reasonable to let the Gluster pod automatically load the required modules. The automatic loading of modules is already standard practice for no

[2018-03-12 14:56] humblec commented on #75
we can place that loading in setup/start up script

[2018-03-12 15:03] nixpanic commented on #75
It should not be needed to load the modules in advance. They should get loaded automatically when needed, by the LVM stack that is called from Gluster upon snapshot commands.

The modules may not exist at all, in case they are compiled into the kernel. Future LVM changes may require different modules. Having it done automatically will prevent many potential issues.

[2018-03-27 19:55] IvanBiv opened #77 "gluster cluster from docker-compose file"
We need deploy Gluster cluster thought docker-compose.yml file.
Our docker-compose file:
[code]
I see next:
[code]

How we should to use docker-compose file for deploy Gluster cluster?

[2018-04-06 03:14] nigelbabu opened #79 "No license file"
Can we please add a LICENSE.md file?

[2018-04-23 11:52] jakubkameleon opened #80 "No IP address"
Hi, I used this repo **gluster/gluster-centos** and run container with this command
`$ docker run -v /etc/glusterfs:/etc/glusterfs:z -v /var/lib/glusterd:/var/lib/glusterd:z -v /var/log/glusterfs:/var/log/glusterfs:z -v /sys/fs/cgroup:/sys/fs/cgroup:ro -d --privileged=true --net=host -v /dev/:/dev gluster/gluster-centos
`.
Container work but, without IPAddress. Result of inspect container:
`"Netwo

[2018-04-23 12:07] #80 closed

[2018-05-24 22:12] huguesalary opened #85 "sshd server"
What is the reasoning behind having `sshd` installed on this docker image?

It would be better if this image simply shipped glusterfs and nothing else.

[2018-06-25 18:05] JohnStrunk opened #87 "Location for "cattle" containers"
In keeping with our plan to move toward "cattle" containers, I'd like to arrive at consensus on where development for them should live.
I'll suggest two options:
1. In a top-level directory like "Fedora" and "CentOS" containers currently do.
2. In its own branch.

My favored approach is (1) because it doesn't overload branching nor require a cutover to the "new" way of using the containers at any

[2018-06-25 18:07] JohnStrunk commented on #87
Also, is there an actual need for both CentOS and Fedora based containers or can we just use CentOS?
I can't think of a reason to have both or to even advertise the base image that we choose.

[2018-06-25 18:18] JohnStrunk opened #88 "GCS containers should use block PVs"
The Gluster containers should use a `volumeMode: block` based PV for its persistent storage.

By moving from using a raw device to one provided via a PVC/PV, we begin to break the host dependencies of the gluster container.

Acceptance criteria:
- The container should no longer have any host path mappings
- The container should accept an arbitrarily sized raw block PV on which it will create brick

[2018-06-25 18:33] JohnStrunk opened #89 "GCS container should use GD2"
The GCS container should use GD2, not glusterd.

This will significantly decrease the state that needs to be maintained persistently on the node, making it much easier to remove node-based dependencies of the gluster container.

Acceptance criteria:
- GD2 & gluster 4.x are in the image
- GD2's node identity and etcd endpoint are provided via file or env var (ConfigMap in kube)
- No directories fro

[2018-06-25 18:44] JohnStrunk opened #90 "GCS container should use TLS by default"
This covers the following requirements:
- GCS containers should enable gluster's TLS capabilities for both management and data by default.
- It should also secure all communication w/ etcd
- Authentication should be mandatory for accessing the GD2 API

In a kube environment, user pods are untrusted and have the ability to send arbitrary requests to gluster. We must make sure all network-exposed en

[2018-07-06 13:51] alikhajeh1 commented on #73
Any plans to release a 4.1 image in https://hub.docker.com/r/gluster/gluster-centos/tags/ ? If not, I assume we can just update https://github.com/gluster/gluster-containers/blob/master/CentOS/Dockerfile#L17 to create the image?

[2018-08-07 05:17] shirshendu commented on #87
Hi @JohnStrunk , by 'cattle' containers, do you mean compatibility with rancher?

[2018-08-13 15:26] JohnStrunk commented on #89
An interesting question. I have no idea. Perhaps @humblec may know.
I seem to remember talk of using cgroups for throttling some of the gluster daemons, but I don't know if this is actually related.

[2018-08-13 18:39] StrayCat1 commented on #73
4.1 would be good

[2018-08-13 19:40] mcquinne commented on #73
FYI I just created PR #96 which I hope is at least the beginning of an upgrade to 4.1.x.

[2018-08-17 15:50] JohnStrunk opened #97 "Make gluster-block less of a pet"
With our push toward GCS, we are working to remove host dependencies from the gluster containers. Today, that includes directly accessed devices and using the host's IP.

While we have a workable plan using kube services and raw block PVs to remove these dependencies for the gluster bricks and GD2, gluster-block has presented more of a challenge. Our dependency on tcmu means we have a host IP depe

[2018-08-18 18:03] vbellur commented on #97
I like the overall idea. I am not sure if there are issues with having iSCSI client and server on the same node. Loopback nfs used to have deadlock problems in the kernel primarily due to a server memory allocation request being dependent on reclamation of a dirty page that the client has to flush. There have been some attempts to fix this problem but I am not very certain about the current state.

[2018-08-28 03:33] MartinForReal opened #99 "add logrotate into service daemon"
Log dir is not maintained and may fill up the entire disk.
I think it is a good idea to add logrotate service

[2018-08-28 21:43] phlogistonjohn opened #101 "Do not call systemctl from script in service file"
PR #100 added a nice script to check for the status of /var/lib/glusterfs, however @raghavendra-talur and I were discussing this change and realized that we should not be calling systemctl from within the script. I have seen doing this lead to systemctl blocking. It would be cleaner to call `kill` on the pid of the glusterd service instead. I believe this is how glusterd is terminated by systemd c

[2018-08-29 05:10] humblec commented on #101
/assign @@SaravanaStorageNetwork

[2018-08-29 05:12] humblec commented on #101
@phlogistonjohn not sure about the systemctl blocking behaviour. Atleast in @SaravanaStorageNetwork testing its not the case. But nothing stopping us from using `kill `. Leaving for further thoughts from @SaravanaStorageNetwork.

[2018-08-29 18:34] phlogistonjohn commented on #101
I think that using systemd various mechanisms to make one service fail if another service fails is probably the right way to go. I'm just nervous that even though it worked for you we might run into issues in other deployments...
If we can get an opinion from @raghavendra-talur that says its OK to keep this approach I'll back off (for now >:-D)

[2018-10-03 14:57] imwower opened #106 "how can I use gluster-containers as Gluster PersistentVolume with gluster-server deployed in kubernetes?"
hello, I deployed gluster server within kubernetes, and the pods work well, I can mount the gluster-volume in the gluster-client pod with docker image : `gluster/glusterfs-client`, here is the script within gluster-client:
[code]
this works well.
but how can I add Gluster PersistentVolume using this gluster-server? what's the `Gluster Endpoint` here?

-  because Gluster server need Endpoint from k

[2018-10-03 18:18] phlogistonjohn commented on #106
If you are using Kubernetes I highly recommend looking at the [gluster-kubernetes](http://github.com/gluster/gluster-kubernetes) project that does most of the hard work of deployment for you. This will set up gluster containers and the heketi server for dynamic provisioning. Similarly, if you are using openshift, look into the openshift-ansible deployment method.
Once you have either one of these

[2018-10-07 14:49] wdbasson opened #107 "Accumulating rpc_clnt_submit error in glustershd.log"
Hi,

Not sure this is the correct place to raise an issue...so please correct me if it isn't.

I'm having an issue with the gluster/gluster-centos images used in the default openshift-ansible deployments.

It used to only happen on the gluster3u13_centos7, gluster4u0_centos7 and latest tags and I've already reported this issue on [openshift-ansible](https://github.com/openshift/openshift-ansible/i

[2018-10-08 06:59] humblec commented on #101
Closing as per previous commment.

[2018-10-08 06:59] #101 closed

[2018-10-08 07:00] humblec commented on #79
@nigelbabu would you be able to send a PR ? :)

[2018-10-08 07:00] humblec commented on #72
Its done. Thanks .. I am closing this issue.

[2018-10-08 07:00] #72 closed

[2018-11-07 21:36] benyanke opened #108 "Production Ready?"
I can't seem to find a lot of gluster official docs or guides about gluster in docker.

Is this suitable to be used in a production cluster (for example - for sharing a volume between all nodes in a docker cluster)? Or is it more for testing / dev?

[2018-11-14 16:45] JannikZed commented on #108
and going further- how about deploying it with glusterfs-kubernetes directly on the internet? This image always exposes port 111 which is really unsave! Can't be used in production like this.

[2018-11-21 06:32] trentzhou opened #109 "When will gluster 5.1 docker image be available?"
RPM find shows that glusterfs 5.1 is released: https://rpmfind.net/linux/rpm2html/search.php?query=glusterfs
But the docker images at https://hub.docker.com/u/gluster/ are still not up to date.
With `gluster/gluster-centos:latest` I observed memory leak. Also elasticsearch has corrupted index exception when glusterfs is used as storage.
The release notes of glusterfs 5.0 says it fixed a few memory

[2018-11-21 09:20] amarts commented on #109
Did you try https://github.com/gluster/gcs/ . That has glusterfs5+ GD2 combined images. It is still alpha state, but good to hear the feedback about it.

[2018-12-03 10:03] GarethOates opened #112 "Arm architecture GlusterFS Docker Image"
I'm trying to setup GlusterFS on an Arm architecture (Raspberry Pi) based Kubernetes Cluster  but there does not seem to be an image which supports this architecture.  Are there any plans to provide a Raspbian-based GlusterFS official docker image?  I intend to create one myself and host it somewhere but I think in order for people to have more trust in the contents of the container and feel confi

[2018-12-03 10:10] amarts commented on #112
First goal is to provide one with x86_64, based on GD2 (check [GCS](https://github.com/gluster/gcs))

Currently latest 5.1 version is compatible with ARM, and some known reported issues are fixed. So, if you pick and build that version, it should work fine.

About official support, we will discuss this in next week's maintainers meeting, and check it out.

[2018-12-03 10:53] GarethOates commented on #112
Thanks for the quick response.  I'll give the 5.1 version a go and see how I get on.

[2018-12-20 07:35] shb256 opened #116 "Glusterd not running"
Hello,

I 've tried to setup gluster in docker on an synology.
i ve done these steps
`ash-4.3# docker run -v /volume1/gluster/etc_glusterfs/:/etc/glusterfs:z -v /volume1/gluster/lib_glusterd:/var/lib/glusterd:z -v /volume1/gluster/log_glusterfs:/var/log/glusterfs:z -v /sys/fs/cgroup:/sys/fs/cgroup:ro -d --privileged=true --net=host -v /volume1/gluster/brick1/:/brick1 --name gluster gluster/gluster

[2018-12-20 16:59] phlogistonjohn commented on #116
Not sure what kind of environment a synology is, but I am able to get a similar command line functioning on my system (fedora 28, podman):

[code]

Within the running container systemd appears to function correctly.
[code]

I would investigate along the lines of what version of docker the synology system provides and check if systemd/dbus is generating any logs explaining why it does not start ins

[2018-12-20 19:06] shb256 commented on #116
ash-4.3# whoami
root
ash-4.3# docker --version
Docker version 17.05.0-ce, build 9f07f0e-synology
ash-4.3#
[root@rd815P /]# dbus-monitor --system
Failed to open connection to system bus: Failed to connect to socket /run/dbus/system_bus_socket: No such file or directory

what are the next steps?

[2018-12-24 05:01] gonoph opened #117 "gluster-setup.sh does not mknodes on failed mount"
After the update in commit 2e2e284, gluster-setup.sh no longer attempts to mount failed bricks.

According to the [man page][1] RETURN CODE 1 is incorrect permissions or invocation (bad parameters). The previous commit attempted to only test for that error, which if continuing in the script logic allows the glusterd pod to attempt to identify the failed bricks, and try various tricks to mount them

[2019-01-07 22:50] jomeier opened #120 "gluster-blockd and gluster-block-setup not starting after reboot of node: wrong place for 'systemctl enable...' in update-params.sh ?"
Hi,

we have a strange issue on OpenShift 3.11 with GlusterFS (latest version installed yesterday):

OpenShift installs GlusterFS, glusterfs-storage pods start successfully.

At some point during the installation procedure glusterfs nodes are rebooted. Afterwards the glusterfs-storage pods don't start.

oc logs glusterfs-xxx shows:

[code]

If I exec into the container and call

[code]

It's enabl

[2019-01-08 08:34] wdbasson commented on #107
I can confirm this issue is resolved on OKD v3.11 with the latest gluster image: gluster/gluster-centos:latest

[2019-01-08 08:34] #107 closed

[2019-01-08 12:49] SaravanaStorageNetwork commented on #120
Yes, the systemctl enable is moved from Dockerfile to update-params.sh recently. This is for introducing a new variable GLUSTER_BLOCK_ENABLED. ?

By any chance, have you passed GLUSTER_BLOCK_ENABLED=FALSE ?

[2019-01-08 14:36] jomeier commented on #120
@SaravanaStorageNetwork
Thanks for your answer. I don't set GLUSTER_BLOCK_ENABLED. I also see the echo message in the IF part of the if ... then ... else. And I see also two D-Bus errors for each of the systemctl commands.

It seems definitely to be the case that D-Bus is not available if the Container starts after a Reboot. If I restart the container manually by killing it, the both systemctl com

[2019-01-09 05:55] SaravanaStorageNetwork commented on #120
Thanks for the pointers. This looks little weird, I will get back on this after some debugging.

[2019-01-09 09:00] jomeier commented on #120
@SaravanaStorageNetwork
To be more precise: I didn't restart a "GlusterFS-Storage" container but the glusterfs-storage pod.

[2019-01-11 13:42] kesterriley commented on #120
I get the same issue - after a Node / host reboots the glusterfs container fails it health check

Events:
  Type     Reason          Age   From                Message
  ----     ------          ----  ----                -------
  Normal   SandboxChanged  39m   kubelet, k8snode01  Pod sandbox changed, it will be killed and re-created.
  Normal   Pulled          39m   kubelet, k8snode01  Container i

[2019-01-11 16:15] jomeier commented on #120
Ack

[2019-01-12 02:55] SaravanaStorageNetwork commented on #120
@jomeier @kesterriley Thanks! I have reverted the PR which introduced the change (of moving systemctl commands from Dockerfile to shellscript).

[2019-01-12 03:43] #120 closed

[2019-01-29 14:04] mkumatag opened #123 "4.1 branch is not updated with right repo"
4.1 branch Dockerfile is referring to 4.0 repo, which needs to be updated.

Cherry-pick https://github.com/gluster/gluster-containers/pull/96 to 4.1 branch.

@humblec @mcquinne

[2019-02-03 15:17] sa9226 opened #124 "how to turn off systemd-logind and systemd-journald processes in this image"
We had some security issue rasied by our security team that processes inside container for systemd-logind and systemd-journald are interfering the nodelevel.  How to turn off these?  Is it enough to add below to Dockerfile? Please advise.

RUN systemctl disable systemd-journald
RUN systemctl disable systemd-logind

[2019-02-04 04:43] SaravanaStorageNetwork commented on #124
It is better if you could disable them using :
RUN systemctl mask systemd-journald.socket
RUN systemctl mask systemd-journald.service

and
RUN systemctl mask systemd-logind.service

[2019-02-05 19:31] martinbe1io opened #125 "Ran into bug #120 on origin 3.11 - how to upgrade ?"
Hi everybody

Ran into the #120 bug mentioned in the forum. I used the ansible installer with 3.11 what is the best way to only upgrade glusterfs with the commited bugfix ? I dont‘t want to upgrade the whole cluster to latest

Thx Martin.

[2019-02-06 06:57] SaravanaStorageNetwork commented on #125
You could follow the steps mentioned here:
https://access.redhat.com/documentation/en-us/red_hat_openshift_container_storage/3.11/html-single/deployment_guide/#chap-Documentation-Red_Hat_Gluster_Storage_Container_Native_with_OpenShift_Platform-Upgrade-Gluster_pods

You should leave the image name as is in your present setup (as the documentation is more of downstream specific).

Skip cns-deploy re

[2019-02-06 07:53] mkumatag commented on #123
@humblec thanks

[2019-02-06 09:32] martinbe1io commented on #125
ok thank you

am I right that that's the most important section
[code]

is a change of value from v3.11 to latest the right way?

[2019-02-06 10:49] humblec commented on #123
YW @mkumatag . Thanks for reporting the issue!

[2019-02-06 12:09] SaravanaStorageNetwork commented on #125
Yes. marking it latest is fine.
In your case (upstream), IMAGE_NAME docker.io/gluster/gluster-centos
and IMAGE_VERSION as latest

[2019-02-07 12:27] martinbe1io commented on #125
thanks everything worked as it should

[2019-02-07 12:27] #125 closed

[2019-02-14 04:13] pascalandy opened #127 ""for" Fedora. Can I use it on my Ubuntu host?"
thank you!

[2019-02-18 13:41] jocelynthode opened #128 "4.1 image is really slow with Heketi and fails Install on OKD"
Hey, I noticed that using the image tagged for 4.1, I cannot install GlusterFS in OKD due to the error fixed by https://github.com/gluster/gluster-containers/pull/126

Can we please cherry-pick https://github.com/gluster/gluster-containers/pull/126 to 4.1 branch and rebuild images ?

@humblec @mcquinne

[2019-02-18 13:56] humblec commented on #128
@jocelynthode I have cherrypicked that patch and also triggered the build.. Lets see how it goes.

[2019-02-18 15:03] humblec commented on #128
@jocelynthode you have new image with the fix. please let me know if it helps!

[2019-02-18 15:06] jocelynthode commented on #128
Uh, I thought this PR would fix my issue. However reading the Bug reports I see that there is also a bug in LVM which I seem to hit with the unitialized udev:
[code]

This is a bit out of my comfort zone. Is there a workaround for this or do we need to wait for a patched LVM version ?

[2019-02-18 15:08] jocelynthode commented on #128
@humblec To not I did not encounter any of these issue while using an old version of the contain which had gluster 4.1.6 in it

[2019-02-18 15:21] jocelynthode commented on #128
@humblec : Here's what I noticed between the two builds that encountered the problem: The lvm2 packages are slightly different on 4.1.6 we had lvm2-libs-2.02.180-10.el7_**6.2**.x86_64 and lvm2-2.02.180-10.el7_**6.2**.x86_64 and on 4.1.7 we have lvm2-libs-2.02.180-10.el7_**6.3**.x86_64 and lvm2-2.02.180-10.el7_**6.3**.x86_64

4.1.6
[code]

4.1.7
[code]

[2019-02-20 19:14] obnoxxx opened #130 "Why are Fedora and CentOS so vastly out of sync? Do they need to be synced more?"
The centos and fedora containers are pretty much out of sync.

## How the Dockerfile does things

Several things done differently in the container, like how to add files into the container, e.g.:
[code]
for centos and
[code]
for fedora, which seems less idiomatic and more complicated. So here a style / technique sync may be good.

## Different components

Several mechanisms/components are only add

[2019-02-20 19:16] obnoxxx commented on #130
@humblec @nixpanic @jarrpa @SaravanaStorageNetwork @phlogistonjohn @raghavendra-talur @Madhu-1  ... what do you guys think?

[2019-02-20 21:45] phlogistonjohn commented on #130
It's worthwhile but the last time I started doing it I got bogged down and never got far enough to make a PR. Maybe it would be best just to pick one (centos probably) and remove the other?

[2019-02-21 22:36] jarrpa commented on #130
+1 to John's suggestion. If we're not using it, no sense maintaining it.

[2019-02-22 03:26] SaravanaStorageNetwork commented on #130
same opinion here - it is better to maintain single container based on CentOS

[2019-02-27 03:10] chenyg0911 opened #135 "[question] Does gluster/gluster-object support s3v4?"
I deployed gluster/gluster-object on k8s.
boto test ok. But aws-cli and minio/mc not work.
[code]
the minio/mc team said it should be bug in  object storage.
[issue #2691](https://github.com/minio/mc/issues/2691#issuecomment-465771425)

[2019-02-27 07:58] SaravanaStorageNetwork commented on #135
Are you able to carry out other operations like create bucket / object?

You could refer the below for example:
https://github.com/gluster/gluster-kubernetes/tree/master/docs/examples/gluster-s3-storage-template#testing

As you see in the above mentioned example, you need to edit  the endpoint properly.
I am not sure how that can be done using aws cli - You may need to explore more on this.

[2019-02-27 11:47] chenyg0911 commented on #135
yes. I can create bucket, copy into bulletin
, but can’t copy out and delete object. S3curl test is ok.
Saravanakumar Arumugam <notifications@github.com>于2019年2月27日 周三下午3:59写道：

[2019-02-27 15:00] jocelynthode commented on #128
@humblec RedHat has downgraded their lvm packages (https://bugzilla.redhat.com/show_bug.cgi?id=1676921). Can we please do the same in gluster image so that it starts working again ?

[2019-02-28 17:00] AnitaNayak opened #136 "GlusterFS: Building on s390x and creating RPMs"
Hi @humblec , we are trying to build glusterfs rpms on s390x for version 4.1.5. We built it on s390x and created rpms. Followed link: https://docs.gluster.org/en/v3/Install-Guide/compiling-rpms/
The following rpms got generated on s390x platform on ClefOS:7

[code]
But I didn't see `glusterfs-rdma` rpm. Is it missing on s390x or its part of any other rpms?

Could you please confirm? Thank you.

[2019-03-01 02:23] AnitaNayak commented on #136
Hi @humblec , could you please confirm for the above query? Do you have any plan to provide glusterfs rpms on s390x Platform in near future. Thank you.

[2019-03-01 07:23] SaravanaStorageNetwork commented on #136
x86_64 is the primary platform for glusterfs rpms. I don't think there is any plan to provide glusterfs rpms on s390x Platform.  But you should be able to compile the rpms yourselves.

Could you raise the issue here and get help from gluster developers ?
[https://github.com/gluster/glusterfs/issues](https://github.com/gluster/glusterfs/issues)

[2019-03-12 09:24] jocelynthode opened #139 "Setup Automated builds on Dockerhub"
Hey,

I recently saw that we have added a workaround for the lvm2 bug that caused issues on  https://github.com/gluster/gluster-containers/issues/128 .

I see that the 4u1 as well as latest have not been rebuilt to take into account these fixes.

First @humblec  could you rebuild these so that I can test and confirm that https://github.com/gluster/gluster-containers/issues/128 is indeed fixed by t

[2019-03-13 18:20] alibo commented on #128
I've also faced this issue with version 4.1.7, is there any eta on fixing it?

[2019-03-16 16:32] mkumatag commented on #123
Closing this task as now proper patch has been cherry-picked. Thanks.

[2019-03-16 16:32] #123 closed

[2019-03-17 21:47] rassie commented on #107
I'm seeing this problem even with latest OKD. Any workaround for this?

[2019-03-18 15:57] lvoss commented on #107
Same here. How can we "clean up" GlusterFS on OKD 3.11, so that it will no longer log these (no-longer-existent) volumes?

[2019-03-19 07:10] lvoss commented on #107
We stopped the error messages by deleting the glusterfs-storage-Pods one by one (and waiting for each one to come up again before deleting the next one).

[2019-03-20 09:45] jocelynthode commented on #139
@humblec Hey could you give us an answer on this topic please ?

[2019-03-30 01:28] DrEVILish commented on #109
Gluster v5 is now out for Long Term Support, with Gluster v6 in Development. I would greatly appreciate the Docker client to be up and running.

[2019-04-08 05:13] aakarshit-batchu opened #140 "Glusterfs - 6.0.0 Dockerfile and Image"
Hi Team,

We are actually facing this issue - https://bugzilla.redhat.com/show_bug.cgi?id=1596787 with the glusterfs - 4.* and the latest glusterfs images that are available are 4.* images only. And we have come across the release notes of glusterfs - 6.0.0 where they have addressed that they resolved that bug - https://docs.gluster.org/en/latest/release-notes/6.0/ . So kindly release the glusterf

[2019-04-08 05:33] kannanvj commented on #140
Hi All,
   I am also facing the similar issue .... When we rebooted the node one by one, glusterfs and heketi comes back normally. But when we try to create the PVC, it is in pending state. Existing PVC is working fine... But We could not create the new PVC... When we understand the issue, we observe that Volume create request is received by Heketi. But Heketi is not responding back anything. Aslo

[2019-04-08 07:51] jomeier commented on #140
Hi,

another critical bug seems to be fixed with glusterfs 6.0 :

https://github.com/gluster/glusterfs/issues/625

With our script you can get gluster prior v5 to run amok.

Update the image to version 6 if it's possible, please.

Thank you and best regards,

Josef

[2019-04-09 12:59] nixpanic opened #141 "Add Prometheus support to the server images"
See gluster/gluster-prometheus#1 for progress on getting the package available in Fedora (and CentOS). Once the package is available, it should get included in the container images.

[2019-04-11 07:45] kannanvr commented on #140
@jomeier , Thanks for your reply...
We would like to upgrade the image version 6 for glusterfs.
Currently we are using the Glusterfs conainer image "gluster/gluster-centos:gluster4u0_centos7" along with heketi-7
How to get the image for glusterfs version 6.0...
Kindly help us which script we need to run to build the glusterfs version 6.0.

Thanks,
Kannan V

[2019-04-11 09:21] bakonyip95 opened #142 "NFS share with glusterfs"
Hi,
I will used nfs server on glusterfs, but don't work me. How to configuration pods and glusterfs?
I installed in glusterfs pods the nfs-ganesha packpage and I set nfs.disabled option to off. I stop and started the volume.
But volume status is nfs server localhost and nodes is offline.
Glusterd.log file say nfs/server.so xlator is not installed. I stop rbcbind and nfs server on host node and doc

[2019-04-11 13:38] phlogistonjohn commented on #142
I recommend not trying to use NFS and stick with native glusterfs for containerized applications. NFS is not a typical configuration for containerized gluster and you'd be setting yourself up for a lot of work to make it happen.

[2019-04-11 14:06] bakonyip95 commented on #142
Thanks for reply,
I need it for that because a lot of client will connected volumes and They computer is windows and macos and don't mounting glusterfs only debian.
NFS supported native all operation system and they mounted own computer.
Is there any easier or harder solution to this?

[2019-04-11 14:41] jomeier commented on #140
@kannanvr:
I'm not one of the maintainers of this project.

But...

[code]

will build the image.

We had a problem that the listen-port parameter for glusterd was not set to port 24007 in the file

/etc/glusterfs/glusterd.vol

The file should look similar to this:

[code]

Don't know why this parameters are missing in the image for gluster v6.

[2019-04-11 17:47] phlogistonjohn commented on #142
Interesting. I don't think many people are trying to combine the containers use-case with the NAS-style use-case. I think you'll be exploring new ground here.
Personally, I'd use Samba/SMB for clients rather than NFS on windows, but maybe that's just me.
Good luck!

[2019-04-11 17:55] jomeier commented on #140
Ignore my comment about missing entries in the glusterd.vol file.

I rebuilt the docker image for gluster 6 and now everything seems to work out of the box on the first sight with the commands in the first half of my post.

[2019-04-11 23:23] kannanvj commented on #140
@jomeier Thanks Jomeier. We will also build the image and test it... Once again thanks a lot for your help

[2019-04-12 07:34] bakonyip95 commented on #142
Hm... so far, I have not thought about this, but I start SMB. Do you have any guidelines for samba share in containers glusterfs?

[2019-04-12 13:13] kannanvr commented on #140
I am able to create the glusterfs image of version 6.0 ...
I have also observed that 24007 port is exposed and glusterd is listening on this port number
But When i am running with Heketi, it could not mount the volume of heketidbstorage within heketi pod. Also, I have tried  mounting  the volume manually.. glusterfs  is throwing the below error

[code]
How to resolve this mount issue on glusterfs

[2019-04-12 13:20] kannanvr commented on #140
@jomeier , Kindly provide your suggestion to resolve this issue...

[2019-04-12 13:33] jomeier commented on #140
gluster-fuse on the host must have the same version as the gluster image.

Maybe thats the problem?

[2019-04-15 05:02] kannanvr commented on #140
@jomeier Thanks for your suggestion. It works ... After upgrading the gluster-fuse, it works fine

[2019-04-15 11:29] jocelynthode commented on #128
@alibo : As I still did not get an answer from @humblec to rebuild the 4.1 image and setup dockerhub automated builds, I have rebuilt from source the 4.1 image and pushed it to my dockerhub repository if you don't want to rebuild it:
https://hub.docker.com/r/jocelynthode/gluster-centos/tags

[2019-04-16 14:59] howels commented on #140
Is there a plan to add 5.x and 6.x images to Dockerhub?  The :latest tag retrieves a 4.x image at present.

[2019-04-17 10:22] kannanvr commented on #140
@jomeier We have upgraded the glusterfs due to the issue observed after the node reboot. We could not recover the bricks after the node reboot.It is always showing "Transport endpoint not connected" Still In release 6 also, I am observing the same after rebooting the node 2 or 3 times. Do you have any suggestions or recommendations to recover the brick during this situations?

I have raised the is

[2019-04-23 10:07] nixpanic commented on #128
The change is already included with #134. Unfortunately there was no new image build and pushed to Docher Hub?! The latest gluster4u1_centos7 was build on 18 February... https://hub.docker.com/r/gluster/gluster-centos/tags

@humblec could you check why automated image builds fail again?

[2019-04-24 09:48] grig-tar commented on #128
<offtopic>
@nixpanic you have automatic build which rewrite the tag 'gluster4u1_centos7' every time? How can I know about build update? You must increase the version number of image when update it.
</offtopic>

[2019-05-06 09:10] bakonyip95 opened #148 "Glusterfs snapshot failed"
Hi,
I will use glusterfs snapshot for backup my volume. I write this command in glusterfs pod.
gluster snapshot create snap-testvol testvol
And after 1 min loading is say:

[code]
I used latest glusterfs docker image, gluster version is:
`glusterfs 4.1.7
`Please help me, how to fixed my problem and use gluster snapshot feature?
Thanks, Peter

[2019-05-06 09:11] #142 closed

[2019-05-24 01:47] kannanvj opened #154 "Could not enable Encryption feature on Glusterfs Container6.1 version"
Dear All,
   I have created the glusterfs container for the version 6.1  based on the instruction mentioned on this project. I have tested the glusterfs functionality, its all working fine except encryption...

When i enable the encryption, i am getting the following error
""/usr/lib64/glusterfs/6.1/xlator/encryption/crypt.so" -> No such file or directory"
It seems within the glusterfs container,

[2019-05-24 07:36] kannanvj commented on #154
Hi All, encryption is  working fine on 6.1 version of Gfs.
I am closing this issue

[2019-05-24 07:36] #154 closed

[2019-05-27 06:16] aakarshit-batchu commented on #140
Thanks for the help @jomeier
Closing the issue.

[2019-05-27 06:16] #140 closed

[2019-06-03 15:10] humblec commented on #139
@jocelynthode this was working smoothly and in one stage it became broken. Let me take a look at this in deep. I will get back,

[2019-06-13 13:33] AnitaNayak commented on #136
I could see the rpms in http://download.sinenomine.net/clefos/7/storage/s390x/gluster-4.1/ except glusterfs-rdma rpm on system Z. Any idea if we can get gluster-rdma rpm on system z.
What is the repo name to add in clefos for http://download.sinenomine.net/clefos/7/storage/s390x/gluster-4.1/ ?

[2019-06-20 06:33] sanverm2 opened #155 "GlusterFS container capture the entries which should be inserted into worker node syslog"
GlusterFS container capture the entries which should be inserted into worker node syslog, the issue only happens on the GlusterFS storage node.

**Steps for reproduction:**

 On the worker node which also used as glusterFS storage node, run this commands to insert a record into host syslog:
[code]
Check the worker node syslog or run "journalctl -r" command to check, nothing was inserted into worke

[2019-06-26 07:26] sanverm2 commented on #155
Any pointers or suggestion on this behavior?

[2019-07-02 08:01] jocelynthode commented on #139
@humblec Any news ?

[2019-08-11 17:16] niiku commented on #128
I just wanted to add that after a failed installation the `/var/lib/glusterd` directory on the gluster nodes must be deleted before the image from @jocelynthode  (thanks!) works. Sadly, the gluster/gluster-centos:latest image is still not rebuild.

[2019-08-17 14:11] kobusvdm commented on #139
@humblec any update? Running into this exact issue while deploying OKD v3.11

[2019-09-27 09:48] legege commented on #112
Any update on this?

[2019-10-21 10:24] papanito opened #157 "Readiness probe failed: /usr/local/bin/status-probe.sh failed check: systemctl -q is-active glusterd.service"
I've followed the [setup guide](https://github.com/gluster/gluster-kubernetes/blob/master/docs/setup-guide.md) using the `gk-deploy` script

[code]
This went fine. However, the deployed container fail with

[code]
The `glusterd.service` on the node is running:

[code]

[2019-11-11 12:53] Leopere commented on #77
I found this https://hub.docker.com/r/metal3d/glusterfs I realize its almost 2 years later but maybe some closing the loop officially from Gluster would be useful.

I have a number of high storage low cost dedicated servers that are really no good for serving much but data so a Gluster cluster across a few of these would be a super-economical way to get a tonne of storage available for my VPS's.

[2019-11-26 15:21] Boran opened #159 "Run fstrim weekly in the container."
I had an issue where PVs had space when mounted via glusterFS df /var/lib/heketi/mounts/vg_XXXX/brick_YYY/brick), but 'lvs' should the volumes as being full.

The tool fstrim came to the rescue, running "fstrim -av" freed up the space.
"The TRIM command is an operation that allows the operating system to propagate information down to the SSD about which blocks of data are no longer in use.... ". h

[2019-12-11 19:43] dmaziuk opened #162 "centos server container: Failed to get D-Bus connection: No such file or directory"
After `docker pull gluster/gluster-centos` and firing it up:
[code]

[2019-12-11 19:56] dmaziuk commented on #162
PS fedora container is also defunct. `cli.log` for both is
[code]
-- the lines at 19:31 are from the centos container, the rest are from fedora one.

[2019-12-28 17:37] Arano-kai commented on #128
Deploying okd recently and catch same error.
Have to rebuild gluster-4.1 image with downgrade statement commented and vent fine afterwards.
Current CentOS have lvm2-libs-2.02.185-2.el7_7.2.x86_64 and lvm2-2.02.185-2.el7_7.2.x86_64.

[2020-01-11 14:47] claudio-walser opened #163 "Any plans to upgrade container images"
Hi
I really like glusterfs but looking at the container images, I am not sure what is going on.
Looking at the registries docker and quay I am asking myself why the last push happened around one year ago, even the latest commit in this repo is only one month old.
Even worse, quay reports alot of vulnerabilities: https://quay.io/repository/gluster/gluster-centos?tab=tags

Are there any future plans

[2020-01-11 15:16] humblec commented on #163
@claudio-walser the `latest` image has been created from master branch and its upto date now. Somehow the auto trigger was not working. corrected it now. thanks. I am closing this issue now.

[2020-01-11 15:16] #163 closed

[2020-01-11 15:17] humblec commented on #163
@claudio-walser jfyi, the security scan has also passed on the images.

[2020-01-11 17:07] claudio-walser commented on #163
Awesome, thank you very much for the fast action taken :-)

[2020-01-24 05:04] kshithijiyer opened #166 "Project missing LICENSE file"

[2020-02-07 08:19] Leopere opened #167 "--"
--

[2020-02-07 08:38] #167 closed

[2020-02-10 04:09] minhnnhat commented on #157
Hi @papanito , i met the same problem. Did you solve this ? Thank

[2020-02-10 10:58] papanito commented on #157
Not really, as I am anyway looking into another solution for gluster in k8s: [kadalu](https://github.com/kadalu/kadalu)

There are still some issues bit the guys are very responsive and the solution looks promising - at least for my use case

[2020-03-11 05:37] renich commented on #139
I'm interested in this too. GlusterFS is becoming unusable in k8s. :S

[2020-03-11 06:10] amarts commented on #139
While this repo may take some more time (depending on MAINTAINERs cycles) to sort out things, If you are looking at having Gluster in Container native way in k8s, try kadalu.io [project](github.com/kadalu/kadalu) too. It has the latest glusterfs-7.3 version in its storage servers.

[2020-04-14 17:10] #99 closed

[2020-05-15 12:06] dfmateus opened #171 "[glusterfsd.c:2233:parse_cmdline] 0-glusterfs: ERROR: parsing the volfile failed [No such file or directory]"
I'm deploy image: gluster/gluster-centos:latest but latest version about glusterfs need to be update before using.

systemd[1]: Starting GlusterFS, a clustered file-system server...
GlusterFS[72]: [glusterfsd.c:2233:parse_cmdline] 0-glusterfs: ERROR: parsing the volfile failed [No such file or directory]
glusterd[72]: USAGE: /usr/sbin/glusterd [options] [mountpoint]
systemd[1]: glusterd.service: c

[2020-05-21 07:32] huxiaoliang opened #172 "support centos 8 based image"
do you have any plan to support centos 8 based image for glusterfs 4.1, since centos 7 based image have many vulnerability issues include curl and openssl.

[2020-08-11 20:37] reverendj1 opened #173 "Add Version Tag"
Can we please get some version tags in Dockerhub that are not `latest`? The next version tag after latest (7.1) is 4.1.9. Thanks.

[2020-10-26 08:53] gangyi89 opened #174 "Is the docker image glusterfs 8.2?"
It seems like glusterfs docker image only container version 3.0 for latest.

Is this project no longer maintained? as current gluster version is already 8.2

Thanks.

[2020-11-05 13:49] headyj opened #175 "GlusterFS latest version"
Hello,

Is this project abandoned? because latest image has been published 10 month ago with gluster v4, but the docker image on the repo is getting the latest one.

Could someone publish a new version of the image on the hub?

[2021-10-17 03:36] GoingOffRoading opened #176 "GlusterClient container crashes, no logs"
See Title

GlusterClient has no documentation in this repo.

Launched in Docker/Kubernetes and crashes with no messaging/logs to suggest why.

[2021-10-17 07:25] amarts commented on #176
Possibly issue gluster/glusterfs#2467

[2021-10-17 07:25] amarts commented on #176
which version of glusterfs are you using?

[2021-10-17 12:49] wiryonolau commented on #176
Also happen in centos 7 glusterfs 6.10. Don't know which container cause this.
Been using over 6 month without problem ( not doing any update to the os and library ). Then suddenly it kept breaking.
Will updating to 9.4 fix the problem ?

[2021-10-17 16:47] GoingOffRoading commented on #176
glusterfs-client:Latest which as [per the repo is running v3.13]9https://github.com/gluster/gluster-containers/issues/176#issuecomment-945064582

[2021-10-17 16:47] GoingOffRoading commented on #176
glusterfs-client:Latest which as [per the repo is running v3.13]9https://github.com/gluster/gluster-containers/issues/176#issuecomment-945064582

[2021-10-19 02:40] GoingOffRoading commented on #176
I can't find where Gluster is used in their files outside of a mention in the readme so probably not.  Also, the repository is using an apiVersion that does not work with the current version of Kubernetes.

[2021-10-26 13:03] kannanvr opened #177 "GLusterFS container for Debian"
Hi,
 When we run GFS container on debian, We are facing the below issue

**************************************************************************
[root@k8s-master01 /]# systemctl status glusterd
Failed to get D-Bus connection: Operation not permitted
**************************************************************************

Provide docker file is compatible for debian or not?

[2022-02-10 13:56] odidev opened #178 "Require Linux/ARM64 docker image for gluster/gluster-containers"
Hi Team,  

I have been working on building gluster/gluster-containers images for both amd64 and arm64 platforms. I have Successfully modified the dockerfile to make it compatible with arm64 platform and also added arm64 support in Travis-ci to test docker images for arm64 platform.

**Changes Required:** https://github.com/odidev/gluster-containers/commit/af012f0208024bd3f01e9ec1215ae74855f11770

[2022-02-16 08:07] bentleyckl opened #179 "FSTRIM on bricks and gfs mount point"
We have 3 node glusterfs bricks mount point with 2 replica and 1 arbiter .

We noticed frequent disk corruption when we enable a weekly fstrim on the bricks mount point .

Really appreciate if you guys could share me an alternative for this issue.

[2022-03-04 14:26] odidev commented on #178
Hi Team,

A gentle reminder to take a look at the above changes that have been made to make Docker images compatible for the ARM64 platform and it also passes all the tests in Travis CI.

[2022-06-16 12:33] ZhangErling commented on #174
这是我构建出来的版本

[root@cb99df208d1c /]# gluster --version
glusterfs 9.5
Repository revision: git://git.gluster.org/glusterfs.git
Copyright (c) 2006-2016 Red Hat, Inc. <https://www.gluster.org/>
GlusterFS comes with ABSOLUTELY NO WARRANTY.
It is licensed to you under your choice of the GNU Lesser
General Public License, version 3 or any later version (LGPLv3
or later), or the GNU General Public License,

[2022-06-16 12:55] ZhangErling commented on #175
我构建出来的是9.5，我想这使用CentOS 7有关
https://github.com/gluster/gluster-containers/issues/174#issuecomment-1157607710
https://docs.gluster.org/en/latest/Install-Guide/Community-Packages/

[2022-07-14 07:57] TonyBogdanov opened #186 "GKE host does not have lvmetad"
According to this line: https://github.com/gluster/gluster-containers/blob/c98eefc6ef90149c93c48061a93766cca5c19a35/CentOS/Dockerfile#L62 we should mount `/run/lvm` from the host node and not rely on `lvm2-lvmetad.service` within the container.

Why is that? And also, on GKE neither `cos_containerd` nor `ubuntu_containerd` have this service running, so mounting `/run/lvm` does nothing. How should

[2022-07-19 09:29] humblec commented on #186
Cc @black-dragon74

[2022-07-19 10:13] black-dragon74 commented on #178
@odidev We now have arm64 images available.

Regards

[2022-08-09 08:31] black-dragon74 commented on #174
@gangyi89 On fedora we have latest version. CentOS container will also ship the latest version once #194 is merged (soon).

[code]

Regards

[2022-08-09 08:33] black-dragon74 commented on #175
Please have a look at: https://github.com/gluster/gluster-containers/issues/174#issuecomment-1209079012

/cc: @headyj @GoingOffRoading @ZhangErling

Regards